.progressBar {
	bottom: 22px;
	right: 5px;
	background: transparent;
	height: 2px;
	position: absolute;
	border-radius: 3px;
	border: #525252 solid 2px;
	z-index: 1;
}

.progressCursor {
	height: 8px;
	width: 8px;
	margin-left: -7px;
	margin-top: -5px;
	background: #525252;
	position: absolute;
	border-radius: 5px;
	border: #f1f1f1 solid 2px;
	cursor: pointer;
	z-index: 2;
}

.bufferedBar {
	height: 2px;
	position: absolute;
	background: #f1f1f1;
	z-index: 0;
}

.videoContainer {
	position: relative;
}

.videoBtn {
	width: 40px;
	height: 40px;
	background-image: url("./player_pause.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: absolute;
	bottom: 5px;
}

.videoBtnPaused {
	background-image: url("./player_play.png") !important;
}

.videoBtnWaiting {
	background-image: url("./Snakes chasing-32.gif") !important;
}