.progressBar {
	background: gold;
	height: 6px;
	position: relative;
	margin-top:10px;
	border-radius: 2px;
	border: black solid 2px;
	box-sizing: border-box;
}

.progressCursor {
	height: 12px;
	width: 12px;
	margin-left: -7px;
	margin-top: -5px;
	background: silver;
	position: absolute;
	border-radius: 6px;
}